.body {
    position: absolute;
    width:100%;
}

.main {
    position: absolute;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    height: calc(100vh);
}

.login-form  {
    margin: 26% 150%;
    width: 40%;   
}

.carousel-caption {
    margin-bottom: 5%;
}

.side-nav {
    position: absolute;
    margin: 0 auto 0;
    width: 68%;
}

.side-nav img {
    width: 100%;
}

h1 {
color: rgb(51, 102, 214);
font-size: 600%;
font-weight: 400px;

}

.serviceName {
    margin-top: -2.4%;
    font-size: 320%;
    font-weight: 400%;
    text-align: center;
    color: white;
    background-color: rgba(51, 102, 214, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.side-nav .services h3 {
    color: black;
    font-size: 300%;
    font-weight: 600px;
}

.services .carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

.side-nav .services p, h3 {
    color: black;
    font-size: 150%;
    font-weight: 600px;
}

.container {
    width: 100%;
    margin: 0 auto 0;
}

.spinner {
    width: 100%;
    margin: 15% 0 0 47%;
}
@media (max-width: 1000px){

    .col-md-12 {
        width: 140%;
    }

    .login-form  {
        margin: 110% auto 0;
        width: 90%;
    }

    h1 {
        color: rgb(51, 102, 214);
        font-size: 400%;
    }

    .main {
        position: absolute;
        width: 100%;
    }
    
    .serviceName {
        font-size: 50%;
    }

    .services .carousel-caption p {
        font-size: 50%;
    }

    .services .carousel-caption h3 {
        font-size: 50%;
    }

    .services .carousel-caption {
        width: 70%;
    }
    
    form.form-group span {
        color: red;
    }

    
}