<div class="container">
        <div *ngIf="isLoading" style="text-align: center;">
          <br />
          <app-loading-spinner></app-loading-spinner>
          <p *ngIf="isTakingAWhile">This may take a while</p>
        </div>
        <app-alert></app-alert>
        <div class="row">
          <div class="col-12">
            <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="d-block" id="employeeTitle">
                {{ employee.fullName }}
              </h2>
            </div>
          </div>
        </div>