.container {
    width: 60%;
    margin: 2% auto 0;
    font-size: 120%;
}
a.edit .material-icons {
    color: rgb(51, 102, 214);
    font-size: 150%;
}


 input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
 }
 
 span {
    font-size: 13px;
    color: red;
 }

 a {
     cursor: pointer;
 }

 .modal-body input.custom-control-input {
     margin-left: 50%;
 }

 #enviar {
    float: right;
    margin-right: 3%;
 }

 .col-ms-12 ul.client li{
     display: inline-block;
     margin-left: 17%;
 }

 hr {
     color: lightgray;
     background-color: lightgray;
     width: 100%;
 }

 .title {
     font-size: 120%;
     font-weight: 300px;
     color: rgb(51, 102, 214);
 }

 .AServices {
    margin: 0 0 0 10%;
 }