<body>
<app-alert></app-alert>
<br>
<div class="container"  style="border: 0.5px solid lightgray; padding: 50px; border-radius: 20px;">
  <div class="row">
    <table class="table table-borderless" >
        <tr>
            <td class="title">Número de Cliente</td>
            <td>{{ client.clientId }}</td>
            <td></td>
          </tr>
          <tr>
            <td class="title">Nome Completo</td>
            <td>{{ client.name }}</td>
            <td>
              <a (click)="openModalName(name)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Data de Nascimento</td>
            <td>{{ client.birthDate }}</td>
            <td>
              <a (click)="openModalBirthDate(birthDate)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">NIF</td>
            <td>{{ client.nif }}</td>
            <td>
              <a (click)="openModalNif(nif)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Gender</td>
            <td>{{ client.gender }}</td>
            <td>
              <a (click)="openModalGender(gender)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Morada</td>
            <td>{{ client.address }}</td>
            <td>
              <a (click)="openModalAddress(address)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Localidade</td>
            <td>{{ client.city }}</td>
            <td>
              <a (click)="openModalLocality(city)" class="edit">
                <i class="material-icons">edit</i>
            </a>
            </td>
          </tr>
          <tr>
            <td class="title">Código-Postal</td>
            <td>{{ client.postalCode }}</td>
            <td>
              <a (click)="openModalPostalCode(postalCode)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Email</td>
            <td>{{ client.email }}</td>
            <td>
              <a (click)="openModalEmail(email)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Telemóvel</td>
            <td>{{ client.mobilePhone }}</td>
            <td>
              <a (click)="openModalMobilePhone(mobilePhone)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
              <td class="title">Telefone</td>
              <td>{{ client.phone }}</td>
              <td>
                <a (click)="openModalPhone(phone)" class="edit">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
          <tr>
            <td class="title">Data de Inscrição</td>
            <td>{{ client.entryDate }}</td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="title">Fim de Contracto</td>
            <td>{{  client.endContract }}</td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="title">Mensalidade</td>
            <td>{{ client.monthlyPay }}€</td>
            <td>
            </td>
          </tr>
          <tr>
            <td class="title">Pagamentos</td>
            <td *ngIf="client.fraudulent === true" style="color: red;">Em Dívida</td>
            <td *ngIf="client.fraudulent === false">Em Ordem</td>
            <td>
              <a (click)="openModalFraudulent(fraudulent)" class="edit"  *ngIf="appComponent.isAdmin() || appComponent.isEmployee()">
                  <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="title">Estado</td>
            <td *ngIf="client.status === false" style="color: red; ">Desactiva</td>
            <td *ngIf="client.status === true">Activa</td>
            <td>
              <a class="edit" (click)="openModalStatus(status)"  *ngIf="appComponent.isAdmin() || appComponent.isEmployee()">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <br><br>
        </tbody>
      </table>
  </div>
  <br><br>
  <button type="submit" class="btn btn-success" id="enviar" (click)="onSubmit()">Enviar</button>
  <br><br>
</div>

<!-- Container of associated services -->
<div class="container2">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="title">
          <a  class="btn btn-primary" (click)="openModalAssociateService(ASModal)" *ngIf="appComponent.isAdmin() || appComponent.isOperator()">
            <i class="material-icons" style="color: white;">&#xE147;</i> <span style="color: white; font-size: 100%;">&ensp;Adicionar Serviço</span>
          </a>
        </td>
        <td>   
        </td>
      </tr>
    </tbody>
  </table>
  <div class="asServices" *ngFor="let asService of asServices" style="margin-top: 1%;border: 0.5px solid lightgray; padding: 10px; border-radius: 10px;">
      <table   class="table table-borderless">
          <tr>
            <td><p class="names">Nome do Serviço:</p> {{ asService.serviceName }}</td>
            <td><p class="names">Mensalidade: </p>{{ asService.monthlyPay }}€ </td>
          </tr>
          <tr>
            <td><p class="names">Morada: </p>{{ asService.installationAddress }}   </td>
            <td><p class="names">Código-Postal: </p>{{ asService.postalCode }}, {{ asService.locality }}</td>
          </tr>
          <tr>
            <td>
              <a (click)="deleteAsService(this.asService.associatedServiceID)" class="delete">
                <i class="material-icons">delete</i>
              </a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
 
</div>


<!--Modal Change Gender-->
<ng-template #gender let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Género</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <select id="gender" class="form-control" name="gender" [(ngModel)]="client.gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Name-->
<ng-template #name let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Alterar Nome</h4>
      <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" placeholder="Introduzir o nome" (click)="saveChanges()" id="name" [(ngModel)]="client.name" name="name"> 
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  

<!--Modal Change NIF-->
<ng-template #nif let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar NIF</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="number" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="nif" [(ngModel)]="client.nif" name="nif"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<!--Modal Change BirthDate-->
<ng-template #birthDate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Data de Nascimento</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
      <input type="date" id="birthDate" class="form-control" name="birthDate" [(ngModel)]="client.birthDate" required>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Address-->
<ng-template #address let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Morada</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="address" [(ngModel)]="client.address" name="address"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Locality-->
<ng-template #city let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Localidade</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="city" [(ngModel)]="client.city" name="city"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Postal Code-->
<ng-template #postalCode let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Código-Postal</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="postalCode" [(ngModel)]="client.postalCode" name="postalCode"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Email-->
<ng-template #email let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Email</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="email" [(ngModel)]="client.email" name="email"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Phone Number-->
<ng-template #phone let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Telefone</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="phone" [(ngModel)]="client.phone" name="phone"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Mobile Phone Number-->
<ng-template #mobilePhone let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Telemóvel</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (click)="saveChanges()" id="mobilePhone" [(ngModel)]="client.mobilePhone" name="mobilePhone"> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change Status-->
<ng-template #status let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Estado de Conta</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" style="margin-left: 10%;" class="custom-control-input"  id="status" [(ngModel)]="client.status" name="status"> 
      <label class="custom-control-label" *ngIf="client.status===true" for="status">Activa</label>
      <label class="custom-control-label" *ngIf="client.status===false" for="status" style="color: red">Desactiva</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!--Modal Change to Fraudulent-->
<ng-template #fraudulent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Fraudulência de Conta</h4>
      <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="modal-body">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" style="margin-left: 10%;" checked="true" class="custom-control-input" id="fraudulent" [(ngModel)]="client.fraudulent" name="fraudulent"> 
        <label class="custom-control-label" *ngIf="client.fraudulent===true" for="fraudulent" style="color: red">Em Dívida</label>
        <label class="custom-control-label" *ngIf="client.fraudulent===false" for="fraudulent">Em Ordem</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="saveChanges()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>



<ng-template #service let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Serviço</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
    </a>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
        <select id="serviceName" class="form-control" [(ngModel)]="client.serviceName" name="serviceName">
            <option value="{{ service.name }}" *ngFor="let service of filteredServices">{{ service.name }}  ||  {{ service.price }}€</option>
        </select>
    </div>
</div>     
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveChanges()">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>





<ng-template #ASModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Associar Novo Serviço</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
    </a>
  </div>
  <form  [formGroup]="asServiceForm" role="form" >
  <div class="modal-body">
    <label for="moradaAS">Morada de Instalação</label>
    
      <input type="text" class="form-control" placeholder="Introduza a morada de instalação!"  formControlName="installationAddress" id="installationAddress" required>
      <!-- <span class="help-block" *ngIf="!installationAddress.valid && installationAddress.touched">Introduza uma morada para a instalação!</span> -->
  </div>
  <div class="modal-body">
      <label for="postCode">Código-Postal</label>
        <input type="text" class="form-control" placeholder="Introduza o Código-Postal"  formControlName="postalCode" id="postalCode" required>
        <!-- <span class="help-block" *ngIf="!postalCode.valid && postalCode.touched">Introduza um código-postal!</span> -->
  </div>
  <div class="modal-body">
      <label for="postCode">Localidade</label>
        <input type="text" class="form-control" placeholder="Introduza a Localidade!" formControlName="locality" id="locality" required>
        <!-- <span class="help-block" *ngIf="!locality.valid && locality.touched">Introduza uma localidade!</span> -->
  </div>
  
  <div class="modal-body">
    <label for="service">Serviço</label>
    <div class="form-group">
      <div class="col-sm-9">
          <select formControlName="serviceID" id="serviceID" class="form-control" required>
              <option value="{{ service.serviceID }}" *ngFor="let service of filteredServices">{{ service.name }}  ||  {{ service.price }}€</option>
          </select>
          <!-- <span class="help-block" *ngIf="!serviceID.valid && serviceID.touched">Selecione um serviço!</span> -->
      </div>
    </div> 
  </div>    
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="SendAsService()">Enviar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
  </form>
</ng-template>


</body>
