

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <!-- <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/polarising.png" width="50px" alt="">
    </a> -->
<div class="container">
  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registration" routerLinkActive="active">Registar</a>
      </li>
      <li class="nav-item dropdown"  *ngIf="isLoggedIn()" style="cursor: pointer;">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currentUser.userName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="isClient()">
          <a class="dropdown-item" [routerLink]="['client/', currentUser.userId]" routerLinkActive="router-link-active">Perfil</a>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="isAdmin() || isEmployee()">
          <a class="dropdown-item" [routerLink]="['administrator']" routerLinkActive="router-link-active">Administrador</a>
          <a class="dropdown-item" [routerLink]="['clientsTable']" routerLinkActive="router-link-active">Clientes</a>
          <a class="dropdown-item" [routerLink]="['servicesTable']" routerLinkActive="router-link-active">Serviços</a>
          <a class="dropdown-item" [routerLink]="['employeesTable']" routerLinkActive="router-link-active">Colaboradores</a>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>
