
 nav a.nav-link:hover {
  color: rgb(71, 129, 255);
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    color: rgb(71, 129, 255);
  }
  
  nav a.dropdown-item:hover {
    color: rgb(71, 129, 255);
  }
  
  nav a.nav-link.dropdown-toogle {
    color: rgb(71, 129, 255);
  }

 
